<h1>Jim Carrey Movies</h1>

<ul>
  <% @movies.each do |movie| %>
  <li><%= link_to movie.name, movie_path(movie) %></li>
  <% end %>
</ul>

<%= link_to 'Sort by rating', movies_path(@movie, :sort_by => "rating"), method: :get %>

<p><%= link_to "Add a movie", new_movie_path %></p>
